
Hardware/__Previews/Controlador_SCH.SchDocPreview
Hardware/__Previews/FuenteDeAlimentacion_SCH.SchDocPreview
Documentation/Fuzzy/~$Fuzzy Table.xlsx
8051/fuzzy_helper/fuzzy_helper/bin/Debug/fuzzy_helper.exe
8051/fuzzy_helper/fuzzy_helper/obj/Debug/main.o
8051/fuzzy_helper/fuzzy_helper/fuzzy_helper.layout
8051/driver_adc.LST
*.OBJ
*.LST
8051/controlador.plg
8051/controlador
8051/controlador.lnp
8051/controlador.M51
8051/fuzzy.__i
8051/controlador.uvgui.Francisco
8051/controlador_uvproj.bak
8051/func.__i
*.__i
8051/controlador.uvopt
8051/ExtDll.iex
