
Hardware/__Previews/Controlador_SCH.SchDocPreview
Hardware/__Previews/FuenteDeAlimentacion_SCH.SchDocPreview
Documentation/Fuzzy/~$Fuzzy Table.xlsx
8051/fuzzy_helper/fuzzy_helper/bin/Debug/fuzzy_helper.exe
8051/fuzzy_helper/fuzzy_helper/obj/Debug/main.o
8051/fuzzy_helper/fuzzy_helper/fuzzy_helper.layout
8051/driver_adc.LST
*.OBJ
*.LST
8051/controlador.plg
8051/controlador
8051/controlador.lnp
8051/controlador.M51
8051/fuzzy.__i
8051/controlador.uvgui.Francisco
8051/controlador_uvproj.bak
8051/func.__i
*.__i
8051/controlador.uvopt
8051/ExtDll.iex
8051/controlador_uvopt.bak
8051/controlador.uvgui_Francisco.bak
8051/lin/lin.lnp
8051/lin/lin
8051/lin/lin.M51
8051/lin/lin.plg
8051/lin/lin.uvgui_Francisco.bak
8051/lin/lin_uvopt.bak
8051/lin/lin_uvproj.bak
Hardware/debug.log
Hardware/History/RAD.~(1).PrjPcb.Zip
Hardware/__Previews/LIN_SCH.SchDocPreview
Hardware/__Previews/Stick_LPC.SchDocPreview
Hardware/__Previews/8051_SCH.SchDocPreview
Hardware/__Previews/CAN_SCH.SchDocPreview
Hardware/__Previews/PCB_RAD.PcbDocPreview
Hardware/__Previews/TOP_SCH.SchDocPreview
8051/diag/diag.lnp
8051/diag/diag.M51
8051/diag/diag
8051/diag/diag.plg
8051/diag/diag_uvproj.bak
8051/diag/ExtDll.iex
Simulation/sensadocorriente.net
